body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Assistant', sans-serif;
    overflow: hidden;
}

section {
    background: #f6f6f6;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

ul {
    list-style: none;
}

#scene, .layer {
	display: block;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.layer {
    position: absolute;
}

#background {
    display: block;
    width: 110%;
    height: 110%;
    background: url('../img/bg.jpg') no-repeat 45% 70%;
    background-size: cover;
    position: absolute;
    top: -5%;
    left: -5%;
    bottom: -20%;
}

#text {
    display: block;
    height: auto;
    margin: 251px auto 0 auto;
    margin: 0;
    padding: 10px;
}

#text h1 {
    color: #b6b6b6;
    letter-spacing: 0.45em;
    font-size: 100px;
    font-weight: 200;
    line-height: 0.93em;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, .15);

    transition: all 0.4s ease;
}

#text h2 {
    color: #818181;
    letter-spacing: 0.4em;
    line-height: 2.3em;
    margin: 0 0 15px 0;
    font-weight: 300;
    font-size: 24px;

    transition: all 0.4s ease;
}

.circle {
    display: block;
    border-radius: 50%;
    background: #fff;
    position: absolute;
}

.depth-3 {
    width: 150px;
    height: 150px;
    opacity: 0.5;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

#circle-1 {
    width: 25px;
    height: 25px;
    bottom: 50%;
    right: 75%;
    opacity: 0.2;
}

#circle-2 {
    width: 28px;
    height: 28px;
    bottom: 47%;
    right: 35%;
    opacity: 0.3;
}

#circle-3 {
    width: 28px;
    height: 28px;
    bottom: 50%;
    right: 22%;
    opacity: 0.7;
}

#circle-4 {
    width: 100px;
    height: 100px;
    bottom: 15%;
    right: 52%;
    opacity: 0.4;
}

#circle-5 {
    width: 90px;
    height: 90px;
    bottom: 50%;
    left: 15%;
    opacity: 0.3;
}

#circle-6 {
    width: 106px;
    height: 106px;
    bottom: 10%;
    right: 72%;
    opacity: 0.2;
}

#circle-6 {
    width: 60px;
    height: 60px;
    bottom: 35%;
    right: 30%;
    opacity: 0.4;
}

#circle-7 {
    width: 80px;
    height: 80px;
    bottom: 47%;
    right: 15%;
    opacity: 0.6;
}

#circle-8 {
    bottom: 3%;
    right: 18%;
    opacity: 0.5;
}

#circle-9 {
    width: 200px;
    height: 200px;
    bottom: -10%;
    right: 63%;
    opacity: 0.3;
}

#circle-10 {
    width: 250px;
    height: 250px;
    bottom: -30%;
    left: -8%;
    opacity: 0.2;
}


/* MEDIA QUERIES */

@media all and (max-width: 1000px) {

    #circle-1 {
        right: 85%;
    }

    #circle-3 {
        right: 15%;
    }

    #circle-5 {
        left: 3%;
    }

    #circle-7 {
        right: 3%;
    }
}

@media all and (max-width: 760px) {

    #circle-3 {
        display: none;
    }

}

@media all and (max-width: 760px) {

    #circle-5 {
        display: none;
    }

}

@media all and (max-width: 680px) {

    #text h1 {
        font-size: 70px;
    }    

    #text h2 {
        font-size: 21px;
    }

    #circle-1 {
        bottom: 45%;
    }

    #circle-7 {
        display: none;
    }
}

@media all and (max-width: 500px) {

    #text h1 {
        font-size: 58px;
    }    

    #text h2 {
        font-size: 17px;
    }

    #circle-1 {
        bottom: 62%;
        right: 82%;
        opacity: 0.4;
    }

    #circle-10 {
        display: none;
    }

}

@media all and (max-width: 430px) {

    #text h1 {
        font-size: 53px;
    }    

    #text h2 {
        font-size: 16px;
    }

    #circle-4 {
        display: none;
    }

}